window {
    background-color: rgba(30, 30, 46, 0.95);
}

button {
    background-color: #1e1e2e;
    border-radius: 12px;
    border: 2px solid #6c7086;
    margin: 20px;
    padding: 20px;
    min-width: 120px;
    min-height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(111, 143, 255, 0.4);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #6c7086;
    color: #1e1e2e;
    box-shadow: 0 0 15px rgba(245, 194, 231, 0.7);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
